.player-container {
  display: flex;
  justify-content: center;
}
.board-container {
  justify-content: center;
  text-align: -webkit-center;
  display: flex;
}
.gameboard-container {
  display: grid;
  padding: 5px;
  height: 50vh;
  width: 50vh;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 10%);
}
.gridspace {
  background-color: rgb(89, 139, 158);
  border: 1px solid rgb(170, 163, 163);
}
.has-ship {
  background-color: black;
}
.hit {
  background-color: red;
}
.miss {
  background-color: lightgray;
}
.ships-container {
  display: grid;
}
.vertical {
  display: flex;
  align-items: flex-end;
}
.ship-container {
  display: -webkit-inline-box;
  -webkit-box-align: center;
}
.ship-space {
  border: 1px solid rgb(170, 163, 163);
}
.ship {
  display: grid;
  background-color: black;
  height: 5vh;
  margin: 5px;
}
.carrier {
  width: 25vh;
  grid-template-columns: repeat(5, 20%);
}
.vertical-carrier {
  height: 25vh;
  width: 5vh;
  grid-template-rows: repeat(5, 20%);
  grid-template-columns: 100%;
}
.battleship {
  width: 20vh;
  grid-template-columns: repeat(4, 25%);
}
.vertical-battleship {
  height: 20vh;
  width: 5vh;
  grid-template-rows: repeat(4, 25%);
  grid-template-columns: 100%;
}
.destroyer {
  width: 15vh;
  grid-template-columns: repeat(3, 33.333%);
}
.vertical-destroyer {
  height: 15vh;
  width: 5vh;
  grid-template-rows: repeat(3, 33.333%);
  grid-template-columns: 100%;
}
.submarine {
  width: 15vh;
  grid-template-columns: repeat(3, 33.333%);
}
.vertical-submarine {
  height: 15vh;
  width: 5vh;
  grid-template-rows: repeat(3, 33.333%);
  grid-template-columns: 100%;
}
.patrol-boat {
  width: 10vh;
  grid-template-columns: repeat(2, 50%);
}
.vertical-patrol-boat {
  height: 10vh;
  width: 5vh;
  grid-template-rows: repeat(2, 50%);
  grid-template-columns: 100%;
}
form label {
  padding: 5px;
}
