.player-container {
  display: flex;
  justify-content: center;
}
.board-container {
  justify-content: center;
  text-align: -webkit-center;
}
.gameboard-container {
  display: grid;
  padding: 5px;
  height: 50vh;
  width: 50vh;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 10%);
}
.gridspace {
  background-color: rgb(89, 139, 158);
  border: 1px solid rgb(170, 163, 163);
}
.has-ship {
  background-color: black;
}
.hit {
  background-color: red;
}
.miss {
  background-color: lightgray;
}
